@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Colors */
  --primary-color: #03a9f4;
  --secondary-color: #ffc8c8;
  --main-bg: #add8e6;
  --sidebar-bg: #003147;
  --white-color: #fff;
  --dark-color: #333;
  --title-color: #2a7da2;
  --bg-percentage: #f0f0f0;

  /* Font */
  --main-font: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--main-bg);
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr 2fr);
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: var(--white-color);
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container .left_side {
  position: relative;
  padding: 40px;
  background: var(--sidebar-bg);
  transition: 0.5s;
}

.profile_text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile_text .img_box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--white-color);
}

.profile_text .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_text h2 {
  position: relative;
  color: var(--white-color);
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  text-weight: 600;
  line-height: 1.4em;
}

.profile_text h2 span {
  position: relative;
  font-size: 0.8em;
  text-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.contact_info {
  padding-top: 40px;
}

.title {
  color: var(--white-color);
  text-transform: uppercase;
  text-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.contact_info ul {
  position: relative;
}

.contact_info ul li {
  position: relative;
  margin: 10px 0;
  list-style: none;
  crusor: pointer;
}

.contact_info ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 1.2em;
  color: var(--primary-color);
}

.contact_info ul li span {
  color: var(--white-color);
  text-weight: 300;
}

.contact_info.education li {
  margin-bottom: 15px;
}

.contact_info.education h5 {
  color: var(--primary-color);
  font-weight: 500;
}

.contact_info.education h4:nth-child(2) {
  color: var(--white-color);
  font-weight: 500;
}
.contact_info.education h4 {
  color: var(--white-color);
  font-weight: 300;
}

.contact_info.language .percent {
  position: relative;
  display: block;
  width: 100%;
  height: 6px;
  background: #081921;
  border-radius: 5px;
  margin-top: 5px;
}

.contact_info.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--primary-color);
  border-radius: 5px;
}

.container .right_side {
  position: relative;
  padding: 40px;
  background: var(--white-color);
  transition: 0.5s;
}

.about {
  margin-bottom: 50px;
}

.about:nth-child {
  margin-bottom: 0;
}

.title2 {
  color: #003147;
  text-transform: uppercase;
  text-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: var(--dark-color);
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year_company {
  min-width: 150px;
}

.about .box .year_company h5 {
  color: #848c90;
  font-weight: 600;
  text-transform: uppercase;
}

.about .box .text h4 {
  color: var(--title-color);
  font-size: 1em;
  text-transform: uppercase;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.skills .box h4 {
  color: #848c90;
  font-weight: 500;
  text-transform: uppercase;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: var(--bg-percentage);
  border-radius: 5px;
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--primary-color);
  border-radius: 5px;
}

.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
  position: relative;
  margin: 10px 0;
  color: var(--dark-color);
  font-weight: 500;
  list-style: none;
}

.interest ul li i {
  font-size: 1.2em;
  color: var(--primary-color);
  margin-right: 10px;
}

// Media Queries
@media (max-width: 991px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .about .box {
    flex-direction: column;
  }

  .about .box .year_company {
    margin-bottom: 0px;
  }
  .interest ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 575px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
